/* color templates */
/* 6B0000 */
/* EADCDC */
:root{
  --primary: #0C9AEC;
  --secondary: #84CDF8;
  --third: #0F74AC;

}

body{
  font-family: 'IBM Plex Sans Thai';
}
.container{
  margin: 0;
  padding: 0;
  width: 100%;
}
.nav-contrainer{
  background-color: var(--primary);
  margin: 0;
  padding: 0;
}

.navbar-text{
  color: #FFFFFF;
  cursor: pointer;
}

.navbar-right{
  float: right;
}

.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  background: var(--secondary);
  border-radius: 10px;
}

.column {
  float: left;
  padding: 10px;
  height: 490px;
}

.leftBox {
  width: 30%;
}

.rightBox {
  width: 70%;
}

.text-align-center{
  text-align: center;
}

.centerBox{
  padding: 50px 0 50px;
}


/* responsive */
@media screen and (max-width: 1550px) {
  
  .auto-hidden{ 
    display: none; 
  }
     /* hide it elsewhere */
  .leftBox {
    width: 100%;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-header{
  background-color: var(--primary);
  width: auto;
  height: 50px;
}

.footer-body{
  color: #FFFFFF;
}

.menuCard{
  background-color: var(--secondary);
  /* border: 2px solid #6B0000; */
  border-radius: 20px;
  width: 280px;
  height: 150px;
  margin: 10px;
}

.headerCard h4{
  font-weight: bold;
}

.menuCardColumn {
  float: left;
  padding: 10px;
  height: 100px;
}

.icons i{
  font-size:35px;
  /* border: 5px solid green; */
}

.icons{
  text-align: center;
  width: 100%;
}
