/* color templates */
/* 6B0000 */
/* EADCDC */
:root{
  --primary: #0C9AEC;
  --secondary: #84CDF8;
  --third: #d9effb;

}
html, body {
  margin: 0;
  height:auto;
  width:100%;
  padding:0;
  font-family: 'Prompt', sans-serif;
}

section {
  display: block;
  background: #FFFFFF;
  height:auto;
  width:100%;
  padding: 60px;
  padding-left: 120px;
  box-sizing:border-box;
}

/* body{
  font-family: 'IBM Plex Sans Thai';
} */
/* .container{
  margin: 0;
  padding: 0;
  width: 100%;
} */
.nav-contrainer{
  background-color: var(--primary);
  margin: 0;
  padding: 0;
}

.navbar-text{
  color: #FFFFFF;
  cursor: pointer;
}

.navbar-right{
  float: right;
}

.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  background: var(--secondary);
  border-radius: 10px;
}

.column {
  float: left;
  padding: 10px;
  height: 490px;
}

.leftBox {
  width: 30%;
}

.rightBox {
  width: 70%;
}

.text-align-center{
  text-align: center;
}

.centerBox{
  padding: 50px 0 50px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-header{
  background-color: var(--primary);
  width: auto;
  height: 50px;
}

.footer-body{
  color: #FFFFFF;
}
.card{
  border-radius: 20px;
}

@media screen and (max-width: 820px) {
  .card-text{
    min-height: 140px;
  }
  .line{
    min-height: 63px;
  }
}

i{
  font-size:40px;
  text-align: center;
  width: 100%;
}

.btn-non{
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 10px;
  transition: 0.5s;
}

.btn-non:hover{
  background-color: var(--secondary);
}

.icon-btn{
  cursor: pointer;
  text-align: center;
  padding: 5px 5px;
  border-radius: 10px;
  transition: 0.5s;
}

.icon-btn:hover{
  background-color: lightgray;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover{
  color: white;
}

.navbar-btn{
  cursor: pointer;
}

.navbar-btn:hover{
  color: white;
}

.line{
  border-bottom: 2px solid #000000;
  width: 100%;
  height: 40px;
}

.icon-bar{
  font-size:38px;
  text-align: center;
}

.container-card{
  max-width: 95%;
  max-height: 95%;
}

.InovuaReactDataGrid{
  font-size: 16px !important;
} 

.InovuaReactDataGrid__column-header{
  background-color: var(--secondary);
  font-size: 16px;
}

.InovuaReactDataGrid__column-header__content{
  text-align: center;
}

.InovuaReactDataGrid__header{
  border-radius: 10px;
}

.nextui-c-hhqfap-gqZKcP-disableBlur-false .nextui-c-egxOLa {
  background: var(--primary);
}

.nextui-c-egxOLa {
  max-width: none;
}

.nextui-c-kNgzEX {
  background: var(--secondary);
  color: #000000;
}

.css-13cymwt-control{
  min-width: 10rem;
  width: 100%;
  height: 2.7rem;
  border-radius:12px !important;
  /* border-width: none; */
}
.css-t3ipsp-control{
  min-width: 10rem;
  width: 100%;
  height: 2.7rem;
  border-radius: 12px;
}
.css-t3ipsp-control:hover{
  min-width: 10rem;
  width: 100%;
  height: 2.7rem;
  border-radius: 12px;
}
.css-1dimb5e-singleValue{
  font-size: 0.875rem;
  /* width: 100%; */
}

.styled-table {
  border-collapse: collapse;
  border-radius: "2rem";
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-family: 'Prompt', sans-serif;
}

.styled-table thead tr {
  background-color: var(--primary);
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #ffffff;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: rgb(223, 247, 250);
}

.styled-table tbody tr:last-of-type {
  border-bottom: 4px solid var(--primary);
}

.a{
  border: 2px solid #000000;
}

.custom-file-input{
  /* cursor: pointer; */
  border-radius: 10px;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: 2px solid var(--primary);
  background: transparent;
  /* padding: 0.625rem; */
  height: 2rem;
  min-width: 9rem;
  border-radius: 10px;
  color: var(--primary);
  cursor: pointer;
  transition:  .2s ease-in-out;
  font-size: 0.875rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;


}

input[type=file]::file-selector-button:hover {
  background: var(--primary);
  color: #ffffff;
}
